:root {
  --main-font: "PT Sans", sans-serif;

  --black: #000000;
  --dark: #333333;
  --gray: #E5E5E5;
  --light: #F2F2F2;
  --white: #FFFFFF;
  --warm-light: #756257;
  --warm-dark: #615048;
  --neutral-light: #7DB54F;
  --neutral-dark: #6C9E42;
  --cold-light: #83B3D3;
  --cold-dark: #68A2CA;
  --cold-lighter: rgba(131, 179, 211, 0.2);
  --cold-lightest: rgba(131, 179, 211, 0.12);
  --error: #FF5757;
  --warning: #FD922E;
  --success: #7DB550;

  --primary: var(--cold-light);
  --secondary: var(--warm-light);
  --disabled: var(--light);

  --primary-font-color: var(--dark);
  --secondary-font-color: var(--black);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.3;
  color: var(--primary-font-color);
  background-color: var(--white);
}

.button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button-primary {
  background-color: var(--primary);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-transparent {
  background-color: transparent;
  text-transform: none;
}

.button-success {
  background-color: var(--success);
}

.button-small {
  font-size: 16px;
}

.button-large {
  font-size: 20px;
}

.page {
  background-color: var(--light);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.page-header {
  color: var(--black);
  background-color: var(--white);
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 345px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}

.main-container {
  flex-grow: 1;
}

.intro {
  background-color: var(--white);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.reasons-container {
  padding-top: 63px;
  padding-bottom: 80px;
}

.reasons-title {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.reasons-text {
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-font-color);
}

.reasons-list {
  margin: 0;
  padding: 0;
}

.reasons-item-main {
  color: var(--white);
  background-color: var(--primary);
}

.reasons-item-container {
  width: 400px;
  text-align: center;
  padding: 97px 90px 87px;
}

.reasons-item-image {
  background-color: var(--primary);
}

.reasons-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.reasons-item-text {
  font-size: 18px;
  line-height: 1.2;
}

.reasons-item-submain {
  color: var(--black);
  text-align: center;
}

.reasons-item-submain > .reasons-item-text {
  color: var(--primary-font-color);
}

.reasons-item-submain:nth-child(odd) {
  background-color: var(--cold-lighter);
}

.reasons-item-submain:nth-child(even) {
  background-color: var(--cold-lightest);
}

.advantages-list {
  background-color: var(--white);
  color: var(--black);
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: 400px;
  text-align: center;
  padding: 89px 75px 79px;
}

.advantages-item:nth-child(odd) {
  background-color: var(--cold-lightest);
}

.advantages-item:nth-child(even) {
  background-color: var(--white);
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  line-height: 1.2;
  color: var(--primary-font-color)
}

.offer {
  text-align: center;
  padding: 91px 240px 93px;
}

.offer-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.offer-text {
  font-size: 22px;
  line-height: 1.2;
  color: var(--primary-font-color);
}

.newsletter {
  background-color: var(--white);
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--white);
  padding: 94px 200px 93px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 1.2;
}

.page-footer-container {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
}

.footer-socials {
  width: 107px;
  margin-top: 49px;
  margin-right: 61px;
  margin-bottom: 53px;
}

.footer-socials-list {
  margin: 0;
  padding: 0;
}

.social-link {
  color: var(--cold-light);
  text-decoration: none;
  text-align: center;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 40px 0;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.made-in {
  width: 115px;
  margin-top: 42px;
  margin-left: auto;
  margin-bottom: 44px;
}

.inner-header {
  background-color: var(--primary);
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 72px 83px;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.3;
  color: var(--white);
  margin: 0;
}

.breadcrumbs {
  color: var(--white);
  margin: 0 0 45px;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  color: var(--white);
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 1.3;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 1.3;
}

.catalog-hotels {
  padding-top: 44px;
  padding-right: 72px;
  padding-left: 72px;
}

.sorting {
  display: flex;
  margin-bottom: 53px;
}

.catalog-hotels-result {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--black);
  width: 337px;
  margin-right: 192px;
}

.product-list {
  padding: 0;
  margin: 0;
}

.product-card {
  width: 340px;
  padding: 20px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--black);
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-category, .product-card-price {
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-font-color);
}

.product-card-rating {
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.load-more-container {
  padding: 30px 218px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination {
  padding: 0;
  margin: 0;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.pagination-link {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
}

.pagination-current {
  color: var(--black);
  background-color: var(--disabled);
}

.product-amount-text {
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-font-color);
}

.catalog-newsletter {
  text-align: center;
  color: var(--black);
  margin-top: 73px;
  padding-left: 200px;
  padding-right: 200px;
}
