@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.main-index {
  /*text-align: center;*/
}

.intro {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  text-align: center;
}

.reasons-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.reasons-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.reasons-list {
  text-align: center;
}

.reasons-item {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.reasons-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-item-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item {

}

.advantages-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
}

.offer {
  text-align: center;
}

.offer-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small {
}

.button-large {
}

.button-main {
  background-color: #756257;
}

.button-special {
  background-color: #83B3D3;
}

.newsletter {
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}


/* FOOTER */
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
